<head>
<% provide(:title, "Home") %>
<link href='http://fonts.googleapis.com/css?family=Montez' rel='stylesheet' type='text/css'>

  <style>
    body {
      background: url("http://www.literallydarling.com/wp-content/uploads/2014/08/skydiving-fantastic.png")no-repeat center center fixed;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
    }

    .welcome_text {
      text-align: center;
    }

    .checklist_font {
      font-family: 'Montez', cursive;
      font-size: 80px;
      padding-bottom: 30px;
    }

    .jumbotron {
      color: black;
      background-color: rgba(255,255,255, 0);
      position: fixed;
    }


  </style>
</head>



<body>
<title>Todo | Home</title>

<div class="welcome_text jumbotron">
  <h1>Welcome to <span class="checklist_font">CheckList</span></h1>
  <p>CheckList is simple.  Start  making your CheckList by creating a task.</p>
    </br>
  <p><a class="btn btn-primary btn-lg" role="button" href="/tasks/new">Create a New Task</a></p>
</div>
</body>


